.gallery
{
    width: 100%;
}
.gallery img
{
    width: 180px;
    border: 1px solid #bbb;
}
figure.item
{
    float: left;
    text-align: center;
    width: 180px;
}
a img
{
    padding: 3px;
}
.caption
{
    display: block;
    font-style: italic;
    font-size: 0.9em;
}